        .coord-bottom-center {
            left: 50% !important;
            bottom: 18px !important;
            top: auto !important;
            transform: translateX(-50%);
            z-index: 9999 !important;
        }