        .coord-bottom-center {
            left: 50% !important;
            bottom: 18px !important;
            top: auto !important;
            transform: translateX(-50%);
            z-index: 9999 !important;
        }

/* // Bezirke Labels */
        .bezirk-label {
            pointer-events: none;
            text-align: center;
            white-space: nowrap;
        }